.section__gallery{
  height: 100vh;
  background-color: $empty-bg;
}

.s-gallery{

  .swiper-slide {
    //background-size: cover;
    //background-position: center;
  }
}
.gallery__title{
  position: absolute;
  top: 170px;
  left: 0;
  margin: 20px 0;
  z-index: 9;
  color: white;
  @media screen and (max-width: 768px) {
    top: 48%;
    margin: 0;
    transform: translateY(-50%);
  }
}
.gallery__photo{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition-property: transform;
}
[data-num="photo1"]{
  background-image: url("../img/1amber.jpg");
}
[data-num="photo2"]{
  background-image: url("../img/2sailor.jpg");
}
[data-num="photo3"]{
  background-image: url("../img/school.jpg");
}
[data-num="photo4"]{
  background-image: url("../img/5gracious.jpg");
}
[data-num="photo5"]{
  background-image: url("../img/1gracious.jpg");
}
[data-num="photo6"]{
  background-image: url("../img/gracious.jpg");
}
[data-num="photo7"]{
  background-image: url("../img/1doors.jpg");
}
[data-num="photo8"]{
  background-image: url("../img/2doors.jpg");
}
[data-num="photo9"]{
  background-image: url("../img/3roleta-window.jpg");
}
[data-num="photo10"]{
  background-image: url("../img/2roleta-window.jpg");
}
[data-num="photo11"]{
  background-image: url("../img/1roleta-window.jpg");
}
[data-num="photo12"]{
  background-image: url("../img/3kiev.jpg");
}
[data-num="photo13"]{
  background-image: url("../img/2kiev.jpg");
}
[data-num="photo14"]{
  background-image: url("../img/1kiev.jpg");
}
[data-num="photo15"]{
  background-image: url("../img/kiev.jpg");
}
[data-num="photo16"]{
  background-image: url("../img/3sailor.jpg");
}
[data-num="photo17"]{
  background-image: url("../img/9amber.jpg");
}
[data-num="photo18"]{
  background-image: url("../img/8amber.jpg");
}
[data-num="photo19"]{
  background-image: url("../img/7amber.jpg");
}
[data-num="photo20"]{
  background-image: url("../img/6amber.jpg");
}
[data-num="photo21"]{
  background-image: url("../img/5amber.jpg");
}
[data-num="photo22"]{
  background-image: url("../img/4amber.jpg");
}
[data-num="photo23"]{
  background-image: url("../img/3amber.jpg");
}
[data-num="photo24"]{
  background-image: url("../img/2amber.jpg");
}
[data-num="photo25"]{
  background-image: url("../img/amber.jpg");
}
[data-num="photo26"]{
  background-image: url("../img/1gate.jpg");
}
[data-num="photo27"]{
  background-image: url("../img/2gate.JPG");
}
[data-num="photo28"]{
  background-image: url("../img/3gate.jpg");
}

.s-gallery-top {
  height: 80%;
  width: 100%;
}
.s-gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}
.s-gallery-thumbs .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}
.s-gallery-thumbs .swiper-slide-active {
  opacity: 1;
}
.sbp-gallery{
  left: 5%;
}
.sbn-gallery{
  right: 5%;
}