.header{
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 13px;
  height: 50px;
  z-index: 9;
  background-color: $violet-bg;

  &__container{
    height: 100%;
  }

  &__flex{
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__tel{
    position: relative;
    padding-left: 26px;
    font-family: $SFUIDispaly-Bold;
    color: white;
    @media screen and (max-width: 768px){
      padding-right: 26px
    }

    &:before{
      content:'';
      position: absolute;
      top: 0;
      left: 0;
      @include sprite($phone-icon);
    }
  }

  &__right-side{
    @media screen and (min-width: 769px){
      display: none;
    }
    @media screen and (max-width: 768px){
      display: flex;
    }
  }
  &__search{
    @include sprite($search-icon);
    //display: inline-block;
    display: none;
    @media screen and (max-width: 768px){
      margin-right: 20px;
    }
  }
  &__menu{
    display: none;
    @include sprite($menu-icon);
    cursor: pointer;
    @media screen and (max-width: 768px){
      display: block;
    }
  }
}

.nav{
  @media screen and (max-width: 768px){
    display: none;
  }

  &__link{
    position: relative;
    padding-left: 25px;
    padding-right: 45px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    @media screen and (max-width: 992px){
      padding-right: 10px;
      padding-left: 20px;
    }

    &:before{
      content:'';
      position: absolute;
      top: 1px;
      left: 0;
    }

    &:hover{
      text-decoration: underline;
    }

    &-home:before{
      @include sprite($home-icon);
      top: 0;
    }
    &-company:before{
      @include sprite($company-icon);
    }
    &-sale:before{
      @include sprite($sale-icon);
    }
    &-gallery:before{
      @include sprite($gallery-icon);
      top: 0;
    }
    &-contacts:before{
      @include sprite($contact-icon);
    }
  }
}