.scroll-down {
  margin: 70px auto 0 auto;
  width: 25px;
  height: 40px;
  border: 2px solid white;
  border-radius: 20px;

  &__text{
    display: inline-block;
    margin-top: 10px;
    font-size: 15px;
    text-transform: initial;
  }
}
.scroll-arrow {
  position: relative;
  top: 2px;
  display: block;
  margin: auto;
  width: 5px;
  height: 5px;
  color: white;
  text-align: center;
  animation: mymove 4s infinite;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(45deg);
}

// .scroll-line{
//   position: relative;
//   display: block;
//   margin: auto;
//   width: 2px;
//   height: 5px;
//   background: white;
//   transform: translateX(.5px);
//   animation: mymove 4s infinite;
// }

@keyframes mymove {
  0%   {top: 2px;}
  50%  {top: 11px;}
  100% {top: 2px;}
}
