.scroll-down {
  margin: 0 auto;
  width: 25px;
  height: 40px;
  border: 2px solid white;
  border-radius: 20px;
  @media screen and(max-width: 768px){

    &__wrap{
      position: absolute;
      left: 50%;
      bottom: 10px;
      transform: translateX(-50%);
    }
  }

  &__text{
    display: inline-block;
    margin-top: 10px;
    font-size: 15px;
    text-transform: initial;
  }
}
