.our-products_mobile{
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  height: 100%;
}
.slide_mob{
  height: 20%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  &:hover{
    animation: animatedBackground .3s ease-out 1;
    animation-fill-mode: forwards;
  }
}
@-webkit-keyframes animatedBackground {
  0% {
    transform: scale(1, 1)
  }
  100% {
    transform: scale(1.1, 1.1)
  }
}
.slide--1_mob{
  background-image: url("../img/slide-window2.jpg");
}
.slide--2_mob{
  background-image: url("../img/slide-doors2.jpg");
}
.slide--3_mob{
  background-image: url("../img/slide-jalousie.jpg");
}
.slide--4_mob{
  background-image: url("../img/slide-roller.jpg");
}
.slide--5_mob{
  background-image: url("../img/slide-gate2.jpg");
}

.slide-inner_mob{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.slide__title_mob{
  font-family: $SFUIDispaly-Bold;
  font-size: 36px;
  color: #fff;
  text-align: center;
}

.slide__text_mob{
  width: 100%;
  height: 100%;
}

.slide__subtext_mob{
  display: flex;
  justify-content: center;
  font-size: 17px;
  color: white;
}

.slide__content_mob{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0 25px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.our-products__btn{
  margin: auto;
  width: 150px;
  height: 40px;
  text-decoration: none;

  &:hover, &:focus{
    text-decoration: none;
  }

  &::before, &::after{
    width: 150px;
  }

  &_bg{
    width: 150px;
    transform: translateX(-150px);
  }

  &-text{
    font-size: 14px;
  }
}